<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="default-nav">
    <ul>
        <li><a href="/feedback">Feedback submission</a></li>
        <li><a href="/list">Feedback list</a></li>
        <li th:if="${isAdmin}"><a href="/analytics">Analytics</a></li>
        <li th:unless="${isAdmin}"><a>Analytics (Only for Admins)</a></li>
    </ul>
</nav>
<h1 th:if="${isAdmin}" style="font-size: 50px">Welcome to Analytics, Admin!</h1>
<div th:if="${isAdmin}" style="display: inline-flex">
    <div class="adiv">
        <p>Average rating of the service: </p>
        <p th:text="${averageRating}" class="avalue"/>
    </div>
    <div class="adiv">
        <p>Average convenience of the service: </p>
        <p th:text="${averageConvenience}" class="avalue"/>
    </div>
    <div class="adiv">
        <p>Top 3 Most popular countries: </p>
        <p class="ap" th:text="'1. '+${top3countries.get(0)}"/>
        <p class="ap" th:text="'2. '+${top3countries.get(1)}"/>
        <p class="ap" th:text="'3. '+${top3countries.get(2)}"/>
    </div>
    <div class="adiv">
        <p>Best calculated age: </p>
        <p th:text="${bestAge}" class="avalue"/>
    </div>
    <div class="adiv">
        <p>Satisfaction percentage: </p>
        <p th:text="${satisfiedPercentage} + '%'" class="avalue"/>
    </div>
    <div class="adiv">
        <p>Most satisfied country: </p>
        <p th:text="${mostSatisfiedCountry}" class="avalue"/>
    </div>
</div>
<div th:unless="${isAdmin}">
    <h1>Sorry, you are not an Admin!
    Log in as an Admin to see Analytics</h1>
</div>
</body>
</html>